<div class="content">
	<h2>Sign in</h2>
	<p>Sign in using the form below.</p>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-7-desktop is-12-mobile is-7-tablet is-7-widescreen">
				<form action="/accounts/sign-in" method="POST" class="box">
					{{#if errors.length}}
						<ul>
							{{#each errors}}
							<li id="error-text">{{this}}</li>
							{{/each}}
						</ul>
					{{/if}}
					<div class="field">
						<label class="label">Username:</label>
						<input type="text" class="input" name="username" value="{{username}}">
					</div>
					<div class="field">
						<label class="label">Password:</label>
						<input type="password" class="input" name="password" value="{{password}}">
					</div>
					<div>
						<input class="button is-success" type="submit" value="Login">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>





