{{#if stores.length}}
<div style="display: flex; flex-flow: wrap;">
   {{#each stores}}
   <section class="section">
      <div class="container">
         <div class="columns is-multiline">
            <div class="column">
               <div class="card p-1" style="min-width: 300px;">
                  <a href="/stores/{{title}}">
                     <div class="card-image mb-4 is-relative">
                        <img class="image is-fullwidth is-rounded is-cover"
                             style="height: 155px;"
                             src="https://images.unsplash.com/photo-1506792006437-256b665541e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                             alt="Store Image">
                        <span class="tag is-primary mt-2 mr-2 px-2"
                              style="position: absolute; top: 0; right: 0; font-size: 12px;">14 Tasks</span>
                     </div>
                     <div class="card-content">
                        <div class="content is-flex is-justify-content-space-between is-align-items-center">
                           <div>
                              <h3 class="title is-size-6 mb-1">{{title}}</h3>
                              <span class="subtitle" style="font-size: 12px;">subtitle</span>
                           </div>
                           <form action="/stores/{{this.id}}/favorite" method="POST">
                              <button type="submit" class="button is-primary is-light p-0" style="width: 32px; height: 32px;">
                                 <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M7.99984 9.33335C8.73622 9.33335 9.33317 8.7364 9.33317 8.00002C9.33317 7.26364 8.73622 6.66669 7.99984 6.66669C7.26346 6.66669 6.6665 7.26364 6.6665 8.00002C6.6665 8.7364 7.26346 9.33335 7.99984 9.33335Z"
												fill="#382CDD"></path>
											<path
												d="M3.33333 9.33335C4.06971 9.33335 4.66667 8.7364 4.66667 8.00002C4.66667 7.26364 4.06971 6.66669 3.33333 6.66669C2.59695 6.66669 2 7.26364 2 8.00002C2 8.7364 2.59695 9.33335 3.33333 9.33335Z"
												fill="#382CDD"></path>
											<path
												d="M12.6668 9.33335C13.4032 9.33335 14.0002 8.7364 14.0002 8.00002C14.0002 7.26364 13.4032 6.66669 12.6668 6.66669C11.9304 6.66669 11.3335 7.26364 11.3335 8.00002C11.3335 8.7364 11.9304 9.33335 12.6668 9.33335Z"
												fill="#382CDD"></path>
										</svg>
                              </button>
                           </form>
                        </div>
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </section>
   {{/each}}
</div>
{{/if}}